In [3]:
# Assignment 1: Creating and Accessing Tuples
# Create a tuple with the first 10 positive integers. Print the tuple.

tup1=(i for i in range(1,11))
for i in tup1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# Assignment 2: Accessing Tuple Elements
# Print the first, middle, and last elements of the tuple created in Assignment 1.

tupple=(1,2,3,4,5,6,7)
first,*middle,last=tupple
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6]
7

In [7]:
# Assignment 3: Tuple Slicing
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tupple[0:3])
print(tupple[-4:-1])
print(tupple[2:5])

(1, 2, 3)
(4, 5, 6)
(3, 4, 5)

In [7]:
# Assignment 4: Nested Tuples
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the
# second row and third column.

nested_tup=((1,2,3,4),('madhav','kumar'),(3.43,42.1,4.67,87.65))
for i in nested_tup:
    print(i)

print('accessing : ', nested_tup[1][1])
print('Accessing element : ', nested_tup[2][2])
print('Accessing element : ', nested_tup[0][2])

(1, 2, 3, 4)
('madhav', 'kumar')
(3.43, 42.1, 4.67, 87.65)
accessing :  kumar
Accessing element :  4.67
Accessing element :  3

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [9]:
tup1=(1,2,3)
tup2=(4,5,6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [10]:
dublicate=(1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4,4,4,4,5,5,5,5,5)

# occurances 
print('occuranges of 4 : ' , dublicate.count(4))
print('Index of 2 : ' , dublicate.index(2))

occuranges of 4 :  8
Index of 2 :  3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [12]:
tup5=(1,2,3,4,5)
# Unpacking 
a,b,c,d,e=tup5
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [13]:
lst=[1,2,3,4,5,6]
print(type(lst))
print(lst)
lst=tuple(lst)
print(type(lst))
print(lst)

<class 'list'>
[1, 2, 3, 4, 5, 6]
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [14]:
tup=((1,2,3),(4,5,6),(7,8,9))
for tup1 in tup:
    for i in tup1:
        print(i,end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [16]:
positive_integer=(1,2,3,4,5)
print(type(positive_integer))
positive_integer=list(positive_integer)
print(positive_integer)
print(type(positive_integer))
positive_integer.append(5)
positive_integer=tuple(positive_integer)
print(type( positive_integer))
print(positive_integer)

<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>
<class 'tuple'>
(1, 2, 3, 4, 5, 5)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [17]:
name=('m','a','d','h','a','v')
print(name)
print(''.join(name))

('m', 'a', 'd', 'h', 'a', 'v')
madhav

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [20]:
tup_dict={
    (1,2):3,
    (3,4):9,
    (8,9) : 11
}
tup_dict

{(1, 2): 3, (3, 4): 9, (8, 9): 11}

### Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.

In [21]:
nest_tup=((1,2,3),(4,5,6),('ma','dh','av'))
for i in nest_tup:
    for j in i:
        print(j)

1
2
3
4
5
6
ma
dh
av

### Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [23]:
dub_tup=(1,1,1,2,2,2,3,3,3,4,5,5,6,6,7,8,8)
print(dub_tup)
print(type(dub_tup))
dub_tup=set(dub_tup)
print(dub_tup)
print(type(dub_tup))

(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 5, 5, 6, 6, 7, 8, 8)
<class 'tuple'>
{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

### Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [24]:
def result(tup):
    mi,mx,sm=min(tup),max(tup),sum(tup)
    return mi,mx,sm

tup=(2,3,4,5,6,4,2,4,5,4433,234,54,323,4,5,54,9,32,45,5643)
res=result(tup)
print(res)

(2, 5643, 10871)