In [1]:
print("hellw world ")

hellw world

In [2]:
import math

In [3]:
math.factorial(20)

2432902008176640000

### Syntax referss to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms syntax is about the correct arrangement of words and symboles in a code.

### Semantics refers to the meaning or the interpretation of the symbols characters and commands in a language. it is about what the code is supposed to do when it runs.

In [4]:
## Basic syntas Rules in python 
## Case sensitivity :- Python is case sensitivity

name='Madhav'
Name='Kumar'

print(name)
print(Name)
# Both are the different thats the example of case sensitivity

Madhav
Kumar

In [5]:
## Indentation 
## Python used identation to define blocks of code. Consistent use of space (commolny 4) or a tab is required

age=32
if age >30:
    print(age)
print(age)

32
32

In [6]:
## This is the single line command 
print('Hello world ')

Hello world

In [8]:
## Line continuation 
## Use a backslash(\) to continue a statement to the next line

total=1+2 +3+4+5+6+7+ \
9+4+32
print(total)

73

In [9]:
## Multiple Statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [10]:
## Understand Semnatics In python
# Variable Assingement

age=32  ## age is an integer
name='Madhav' ## name is a string

In [12]:
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [16]:
## Type Interfence 

variable=10
print(type(variable))
variable='madhav'

print(type(variable))

<class 'int'>
<class 'str'>

In [17]:
## Code examples of indentation 
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if Block ")

Correct Indentation
This will print
Outside the if Block

# Variables

### Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In python, variables are created when you assign a value to them and they do not need explict declaration to reserve memory space . The declaration happens automatically when you assign a value to a variable.

In [18]:
a=100
# a is to variable

In [19]:
## Declaring and Assinging Variables
age=32 
height=6.1
name='madhav'
is_student=True

print('age :',age)
print('Height : ' , height)
print('name : ', name)
print('is_student : ',is_student)

age : 32
Height :  6.1
name :  madhav
is_student :  True

In [20]:
## Naming Conventions
## Variable names should be descriptive 
## They must start with a letter or an '_' and contain letter, number and underscores
## Variables name case sensitive

## Valid Variable names
first_name='madhav'
last_name='kumar'

In [21]:
## Invalid variable names 
# 2age=90
# first-name='madhav'
## @name='madhav'

In [22]:
name='madhave'
Name='madhav'

name==Name

False

In [23]:
## Understndaing Variable types 
## python id dynamically typed type of a variable is determined at runtime
age=25 # int
height=5.1 # float
is_student=True #boolean

print(type(name))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'float'>
<class 'bool'>

In [26]:
## Type checking and conversion 
type(height)
age=35
age_str=str(age)
print(type(age))
print(type(age_str))

<class 'int'>
<class 'str'>

In [27]:
height=8.99
print(type(height))
height=int(height)
print(type(height))

<class 'float'>
<class 'int'>

In [30]:
## Dynamic Typing 
## Python allows the type of a variable to change as the program eecutes


var=10
print(var,type(var))

var = 'hello'
print(var,type(var))

var=89.544
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
89.544 <class 'float'>

In [32]:
## input
age=input('WHat is the Age ' )
print(age,type(age))

age = int(input("WHat is the age : "))
print(age,type(age))

WHat is the Age  23

23 <class 'str'>

WHat is the age :  32

32 <class 'int'>

In [33]:
## Simple Calculator 
num1=float(input("Enter first number : "))
num2=float(input("Enter Second Number : "))

sum = num1+num2
difference=num1-num2
product=num1 * num2
quotient= num1 / num2

print("Sum : " , sum)
print("Divverence : " , difference)
print('product : ', product)
print('quotient : ', quotient)

Enter first number :  89
Enter Second Number :  90

Sum :  179.0
Divverence :  -1.0
product :  8010.0
quotient :  0.9888888888888889

# DataTypes

### 1. Definition:
###   -> Datatypes are a classification of data which tell the compiler or interpreter how the programmer intends to use to data.

### -> They determine the type of operations that can be performed on the data, the values that the data can take and the amount of memory need to store the data.

### Importance of Data Types in Programming 
### Explanation:
### -> Datatypes ensure that is stored in a efficient way
### -> Proper use of data types can prevent errors and bugs in the program.

In [34]:
## Integers 
age=34
print(type(age))

<class 'int'>

In [36]:
## Floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [37]:
## String Datatype example 
name='madhav'
print(name)
print(type(name))

madhav
<class 'str'>

In [38]:
## Boolean datatype
True
print(type(True))

<class 'bool'>

In [39]:
is_true=bool()
print(type(is_true))

<class 'bool'>

In [41]:
a=10
b=10
print(type(a==b))

<class 'bool'>

In [44]:
## Common Errors 
result='Hello' + str(5)
print(result)
print(type(result))

Hello5
<class 'str'>

# Operators

In [46]:
## Arithmetic Operation 

a=10
b=15
add=a+b  # Addition
sub=a-b # Substraction 
mul=a*b # Multiplication 
div=a/b # Division
floor_div_res=a//b # floor Division
Modulus_res=a%b  # Modulus operation 

exponent_res=a**b # Exponentiation


print(add)
print(sub)
print(mul)
print(div)
print(floor_div_res)
print(Modulus_res)
print(exponent_res)

25
-5
150
0.6666666666666666
0
10
1000000000000000

## Comparison Operators


## == :- Equal to 

a=10 
b=10

a==b

In [48]:
str1='madhav'
str2='kumar'
str1==str2

False

In [49]:
# Not equal to  !=
a=10
b=10
a != b

False

In [50]:
# Greather then  (>)
a=25
b=34

a>b

False

In [51]:
# Less Then (<)
a<b

True

In [54]:
# Greater than or equal to (>=)
n1=45
n2=45
n1>=n2

True

In [55]:
# Less than or equal to (<=)
n1=34
n2=45
n1<=n2

True

## Logical Operators

In [57]:
## AND 

x=True
y=True
result= x and y
print(result)

True

In [59]:
x=True
y=False
result= x and y
print(result)

False

In [58]:
## OR
x=True
y=True
result= x or y
print(result)

True

In [60]:
x=True
y=False
result= x or y
print(result)

True

In [61]:
## NOT
x=False # Reverse of this 
not x

True

In [62]:
x=True
not x

False